[package]
name = "opus"
version = "1.0.0"
edition = "2024_07"

[workspace]
members = ["scripts"]

# Build each contract as a standalone JSON file
[[target.starknet-contract]]
sierra = true
# strict libfuncs check - throw a compilation error
# when the code uses a libfunc that is not allowed
allowed-libfuncs-deny = true

[lib]

[cairo]
sierra-replace-ids = true

[dependencies]
starknet = ">= 2.10.0"
wadray = { git = "https://github.com/lindy-labs/wadray.git", tag = "v0.5.0" }
access_control = { git = "https://github.com/lindy-labs/access_control.git", tag = "v0.4.0" }

[dev-dependencies]
snforge_std = { git = "https://github.com/foundry-rs/starknet-foundry.git", tag = "v0.38.0" }

[scripts]
restart_devnet = "rm devnet_dump.json 2> /dev/null; starknet-devnet --seed 1087810753 --gas-price 1000 --dump-on exit --dump-path devnet_dump.json"
load_devnet = "starknet-devnet --seed 1087810753 --gas-price 1000 --dump-path devnet_dump.json"
test = "snforge test"

[tool.fmt]
sort-module-level-items = true
max-line-length = 120

[tool.snforge]
max_n_steps = 15000000
