[package]
name = "scripts"
version = "1.1.0"
edition = "2023_11"

[workspace]
members = ["deployment", "simulation"]

[dependencies]
sncast_std = { git = "https://github.com/foundry-rs/starknet-foundry", tag = "v0.23.0" }
starknet = ">=2.6.4"
opus = { path = "../" }

[workspace.dependencies]
sncast_std = { git = "https://github.com/foundry-rs/starknet-foundry", tag = "v0.23.0" }
starknet = ">=2.6.4"
opus = { path = "../" }
scripts = { path = "./" }

[profile.devnet]
inherits = "dev"

[profile.devnet-user1]
inherits = "dev"

[profile.devnet-user2]
inherits = "dev"

[profile.devnet-user3]
inherits = "dev"

[profile.mainnet]
inherits = "release"

[profile.sepolia]
inherits = "release"

[tool]
fmt.workspace = true

[workspace.tool.fmt]
sort-module-level-items = true
max-line-length = 120