[package]
name = "scripts"
version = "1.1.0"
edition = "2024_07"

[workspace]
members = ["deployment", "simulation"]

[dependencies]
sncast_std = ">=0.52.0"
starknet = ">=2.13.0"
wadray = ">=0.6.1"
opus = { path = "../" }

[workspace.dependencies]
sncast_std = ">=0.52.0"
starknet = ">=2.13.0"
wadray = ">=0.6.1"
opus = { path = "../" }
scripts = { path = "./" }

[profile.devnet]
inherits = "dev"

[profile.devnet-user1]
inherits = "dev"

[profile.devnet-user2]
inherits = "dev"

[profile.devnet-user3]
inherits = "dev"

[profile.mainnet]
inherits = "release"

[profile.sepolia]
inherits = "release"

[tool]
fmt.workspace = true

[workspace.tool.fmt]
sort-module-level-items = true
max-line-length = 120